<div class= "container">
  <div class="p-grid">

    <div class="p-col-12 p-md-6 p-lg-3">
      <h1>Registres</h1>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
      <label>Description</label>
      <input pInputText  type="text"/>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
      <label style="display: block">Paiement du</label>
      <input pInputText type="text" style="width: 95px"/>

      <label>au</label>
      <input pInputText type="text" style="width: 95px"/>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
      <p-button type="submit" label="Rechercher"></p-button>
    </div>
  </div>
</div>
